@media (min-width: 968px){
* + .offset-1 {
    margin-top: 54px;
}
.hidden-sm{
display:none;
}
}
@media (min-width: 768px){
h2, .h2 {
    font-size: 30px;
    line-height: 1.13043;
    text-align: center;
}
h5, .h5 {
    font-size: 20px;
    line-height: 1.6;
}

}
.bullet-description{
font-weight:bold;
}

@media screen and (max-width:767px) {
.slideDesc {
    margin: 57% 16% -33% 48%;
    width: 100%;
    text-align: center;
    color: #000;
}
.thumbnail, .thumbnail-2 {
    padding: 50px 10px 30px 10px !important;
}
.unosenSplit{
width: 100px;
display: inline-block; 
margin-left: 102px !important; 
border-top: 2px solid #39949a;
}
.fw-l {
    
    padding: 0px 0px 50px 0px !important;
}
.carousel-control.right, .carousel-control.left {
    padding: 6px;
    color: grey !important;
    margin: 0 37px !important;
}
.carousel-inner .item img {
    margin: 4% -3% -45% 47% !important;
    height: 71% !important;
    width: 107% !important;
    border-radius: 50%;
    border: 2px solid #fff;
}

.featureItOnMobile {
    margin-left: -32px;
    margin-top: -17px;
    color: white;
    width: 100%;
    padding-right: 59px;
}
.small course-price{
margin-right: 47px;
}
.img-circle{
    margin-left: inherit;
    }
.unosenInc{
    margin-left: 18px;
    margin-top: -17px;
    color: white;
}
.unosenLogo{
       width: 35% !important;
    margin: 18px 46px 13px 60px !important;
}
.img-circle {
    border-radius: 50%;
    margin-left: -75px;
}
.hoItWorksOnApproach{
margin: 0px 0px 0px 6px !important;
width: 100%;
}
.bottom-menu {
    margin-bottom: -46px;
}
.visible-xs{
display:block;
}
.hidden-xs{
visibility: hidden;
}

.workingSteps{
 margin-top: -45px;
    padding-bottom: 28px;
    padding-right: 21px;
}
}
.fw-l {
    font-weight: 300;
}
.navbar-fixed-top {
    padding-top: 11px;
    padding-bottom: 22px;
    -webkit-transition: all ease-in-out 0.70s;
    -moz-transition: all ease-in-out 0.70s;
    -o-transition: all ease-in-out 0.70s;
    -ms-transition: all ease-in-out 0.70s;
    transition: all ease-in-out 0.70s;
}
.course-listing .course-box-image-container .course-box-image {
    display: block;
    margin: auto;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid #EDEDED;
    width: 100%;
    height: 228px;
}
.footHead{
font-size: 22px;
color:white;
}
.footList{
color:#fff;
list-style-type:none !important;
}
.carousel-indicators li {
    background-color: #fff;
    border: 1px solid #fff;
}
#faqSection1 {
    background: #fff;
    margin-top: 2.857em;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dm-faq-accordion {
    margin-top: 22px;
    border: 1px solid rgba(221,221,221,.867);
}
.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.faq-panel-section {
    box-shadow: none;
    margin-bottom: 0;
    border-top: 1px solid #eee;
    border-radius: 0!important;
    margin-top: -1px!important;
}
.faq-panel-section {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    border-top: 1px solid #eee;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
}
.faq-panel-section {
    border: none;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

[role=button] {
    cursor: pointer;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

.faq-panel-heading {
    padding: 1.4285em 1.7857em;
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}
.faq-panel-heading {
    padding: .6em 1em;
    color: #333;
    font-weight: 600;
    background-color: #39949a;
    border: 11px solid #39949a;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bold-font {
    font-weight: 700;
}
.bold-font {
    /* font-family: 'Swiss_721 W01 Bold'; */
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.custom-para, h4 {
    font-size: 1.2857em;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.faq-accordion-title {
    margin-top: .2em;
    font-weight: 400;
    line-height: 1.6em;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.icon-col-faq {
    width: 6%;
    margin-top: .2em;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-minus:before {
    content: "\f068";
}
.unosenInc{
margin-left: -4px;
margin-top: -17px;
color: white;
}
.carousel-indicators .active {
      background-color: #fff;
}
.course-listing {
  cursor: default !important;
}
a.startNow {
  color: #fff;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  background: #428AAB;
  text-align: center;
  margin: 38px auto;
  display: block;
  width: 41%;
}
.unosenLogo{
width: 34%;
margin: 18px 34px 13px 60px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #bfbfbf;
}
.carousel-indicators {
  bottom: 64px;
}
.container{
width:100%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: -60px;
  margin-top: -80px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: -60px;
  margin-top: -80px;
}
table {
    max-width: 100%;
    background-color: transparent;
    float: left;
}
.unosenSplit{
width: 100px;
display: inline-block; 
margin-left: 577px; 
border-top: 2px solid #39949a;
}
.carousel-control.right, .carousel-control.left {
    padding: 6px;
    color: grey !important;
    margin: 0 3px;
}
.carousel-inner .item img {
   margin: 10px 52px -76px 143px;
  height: 100%;
  width: 80%;
  border-radius: 50%;
  border: 2px solid #fff;
}
.carousel-control.left {
    background: none !important;
}
.panel-primary {
    padding: 20px 20px 20px;
    background-color: #39949a;
}
.panel-content {
    padding: 6px;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-top: -21px;
    background-color: rgb(0, 0, 0);
}
.carousel-control.right {
    background: none !important;
}
.scrollToTop {
  width: 148px;
    text-align: center;
    font-weight: bold;
    color: #444;
    position: fixed;
    bottom: 26px;
}
.navbar-fedora.is-at-top.is-not-signed-in.is-homepage, .navbar-fedora.is-at-top.is-not-signed-in.is-blog {
    background: #000 !important;
  border-bottom: 0.5px solid grey;
    height: 64px;
}
.white{
color:#fff;
}
.navbar-nav > li {
    border-right: none !important;
}
.navbar-nav > li:last-child {
    border: none !important;
    padding-left: 15px;
    line-height: 20px;
    min-width: 31px;
}
.navbar-fedora {
    background-color: rgb(102,153,153) !important;
    height: 65px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-top: -10px;
    
}
.navbar-fedora .navbar-brand.header-logo img {
    height: 86%;
    width"86%
}
ul.menu li{
display:inline;
padding: 0px 47px 0px 0px;
}
body{

font-family:MetaWebPro Light;
}
span.socialIcon{
margin-left:10px;
}
.viewCourses{
display:inline-block;
margin-bottom:-275px;
margin-top:290px;
}
.howItWorksImg{
    box-shadow: rgb(136, 136, 136) 6px 7px 2px;
    border-radius: 11px;
    border: 1px solid grey;
    height: 380px;
    display: block;
    background-repeat: no-repeat;

}
.text{
    display: block;
    margin: -37px 0px 0px 34px;
}
.thumbnail span, .thumbnail-2 span {
    display: inline-block;
}
.icon-lg {
    width: 120px;
    height: 120px;
    font-size: 60px;
    line-height: 120px;
}
.icon-success {
    color: #39949a;
}
.icon {
    padding: 0px 0px 0px 94px;
    display: inline-block;
    position: relative;
    text-align: center;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.icon:before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class*='fa-']:before {
    font-weight: 400;
    font-family: 'FontAwesome';
}

.fa-desktop:before {
    content: "\f108";
}
.thumbnail-mod-1 {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail, .thumbnail-2 {
    padding: 0;
    border: none;
    background: transparent;
}
.thumbnail, .thumbnail-2 {  
display: block;
    min-height: 300px;
    padding: 4px 4px 4px 4px;
    margin-bottom: -9px;
    margin-top: -20px;
    line-height: 1.5;
    background-color: #fff;
    border-radius: 0px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.section{
background-color:#fff;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.icon-mod-1:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 65px;
    display: inline-block;
    border: 1px solid #d7d7d7;
    transition: .4s;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.thumbnail .caption {
    padding: 55px 9px 9px 9px;}
    
.icon-success {
    color: #39949a;
}
.fw-l {
    text-align: center;
    padding : 0px 90px 30px 90px;
    font-family: 'OpenSans',Arial,sans-serif;
    font-size: 15px;
}

.containerFix{
border-bottom: 1px solid #e6e7e7;
background-color: #fff;
}

footer{
background-color:#000 !important;
}
.footer-column{
margin-top: 15px;
}

.icon-mod-1:hover:after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);

/*progress bar*/
.progressbar{
    margin-bottom: 0px; 
    margin-top: 8px;
}
.courseSidebar-nav{
    list-style-type:none;
}
ul.courseSidebar-nav li{
    padding:30px;
}
